<header>
    <div class="user-controller">
        <div class="logo"></div>
        <p id="username-label"></p>
        <div id="username-div">
            <input type="text" id="username">
            <button class="username-btn" onclick="changeUsername()">Salvar User</button>

        </div>
    </div>

    <div class="controller">
        <button class="control-btn disable-btn" onclick="toggleMicrophone(this)">Abrir Microfone</button>
        <button class="control-btn disable-btn" onclick="toggleMute(this)">Mutar</button>
        <button class="control-btn disable-btn" onclick="toggleConnection(this)">Entrar</button>
    </div>

</header>
<h2>Usuários</h2>
<ul class="users" id="users">


</ul>

<script src="/files/js/index.js"></script>
<link rel="stylesheet" href="/files/css/index.css">